.widget-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
body {
  background-color: rgba(255, 0, 0, 0) !important;
}
.widget {
  position: fixed;
  right: 20px;
  z-index: 9999;
}

.widget-popup {
  position: fixed !important;
  right: 10px !important;
  z-index: 999;
}
.widget-button Button {
  background: linear-gradient(180deg, rgba(15, 75, 165, 0.8) 0%, rgba(6, 63, 149, 0.64) 100%);
}
.com-info {
  padding: 10px 5px 10px 5px;
  display: flex;
}
.com-info p {
  padding-left: 10px;
}
.modal-content {
  padding: 1rem;
}
.Actions {
  width: 100%;
  display: flex;
}
.Actions Button {
  width: 50px;
  height: 35px;
  background-color: #F0F8FF !important; 
  margin: 5px;
  color: #000000;
}
.main-slide {
  padding: 1rem;
}
.Actions Button:hover {
  background-color: gray !important; 
  margin: 5px;
  color: white;
}
.Actions .btn-2 {
  background-color: #1597CE !important; 
  color: white;
}
.Actions .field {
  width: 200px;
  margin-left: 5px;
  height: 45px;
  align-self: center;
}
.donate-btn {
  background-color: #9C046F !important;
  margin: 1.5rem 0 1rem 5px;
}
.field::-webkit-outer-spin-button {
  -webkit-appearance: none;

}
.slick-prev::before {
  background-color: #000000;
  border-radius: 50%;
  left: 0.6rem;
  top: calc(0px - 10px);
  position: absolute;
  color: white;
}
.slick-next::before {
  background-color: #000000;
  border-radius: 50%;
  top: calc(0px - 10px);
  right: 0.6rem;
  position: absolute;
  color: white;
}
.widget-popup {
  background-color: white;
}